
@import url("../../../plugins/bbpress/templates/default/css/bbpress.min.css");

/*========================================
	Hide
==========================================*/
div.bbp-template-notice, div.indicator-hint {display: none;} /* hide editor notic */
div.bbp-template-notice.info {display: none;} /* hide forum notice */
div.bbp-breadcrumb {display: block;} /* hide breadcrumb --------------------*/
div.bbp-pagination {display: block;} /* hide topic count -------------------*/
/*#bbpress-forums div.bbp-reply-author .bbp-author-role {display: none;} *//* hide author role */
div.bbp-reply-ip {display: none;} /* hide author ip */

.bbp-reply-revision-log {display: none;} /* hide reply revision log */
/*.bbp-admin-links {display: none;}*/ /* hide admin links bar */
.bbp-reply-permalink {display: block;} /* hide post number */

span.bbp-topic-started-by, span.bbp-topic-started-in {display: block;} /* hide forum topic "Started by:" */
span.bbp-topic-freshness-author {display: block;} /* hide forum topic freshness author */

#bbpress-forums p.bbp-topic-meta img.avatar, /* small avatar tweek */
#bbpress-forums ul.bbp-reply-revision-log img.avatar, 
#bbpress-forums ul.bbp-topic-revision-log img.avatar, 
#bbpress-forums div.bbp-template-notice img.avatar, 
#bbpress-forums .widget_display_topics img.avatar, 
#bbpress-forums .widget_display_replies img.avatar {margin-bottom: 0; border: none;}

/*========================================
	Buttons
==========================================*/
.button {
	box-shadow: none !important;
	border-radius: 2px !important;
	border: 1px solid transparent !important;
	text-transform: uppercase !important;
}
a.button.addForumTopic {
	color: #fff;
	margin-top: 10px;
	cursor: pointer;
	min-width: 110px;
	text-transform: uppercase;
	background: #d14836;
	background-image: -webkit-linear-gradient(top, #dd4b39, #d14836);
	   background-image: -moz-linear-gradient(top, #dd4b39, #d14836);
	    background-image: -ms-linear-gradient(top, #dd4b39, #d14836);
	     background-image: -o-linear-gradient(top, #dd4b39, #d14836);
	        background-image: linear-gradient(top, #dd4b39, #d14836);

}
a.button.addForumTopic:hover {
	border: 1px solid #b0281a;
	border-bottom: 1px solid #af301f;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	   -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
		    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	background-image: -webkit-linear-gradient(top, #dd4b39, #c53727);
	   background-image: -moz-linear-gradient(top, #dd4b39, #c53727);
	    background-image: -ms-linear-gradient(top, #dd4b39, #c53727);
	     background-image: -o-linear-gradient(top, #dd4b39, #c53727);
	        background-image: linear-gradient(top, #dd4b39, #c53727);
}

/*========================================
	Inputs, Textarea
==========================================*/
input, textarea {
	font-size: 0.85rem !important;
	color: rgba(0, 0, 0, 0.95) !important;
	-webkit-transition: -webkit-box-shadow 0.45s, border-color 0.45s ease-in-out, height 0.15s !important;
	      -moz-transition: -moz-box-shadow 0.45s, border-color 0.45s ease-in-out, height 0.15s !important;
		            transition: box-shadow 0.45s, border-color 0.45s ease-in-out, height 0.15s !important;
}
input:focus, textarea:focus {background: rgba(231, 231, 231, 0.11) !important; vertical-align: top !important; vertical-align: baseline !important;} /* disable vertical-align to top on focus, and more */
textarea {min-height: 70px !important; resize: vertical !important;}

/*========================================
	Forum Topics, Titles
==========================================*/
/*li.bbp-header > ul {font-size: 1rem !important;}*/ /* topic title */

li.bbp-topic-title {font-weight: bold; width: auto !important; word-break: break-all; padding-left: 4px;} /* forum topic title */
li.bbp-topic-title > a {font-size: 1rem !important;} /* topic title */
#bbpress-forums ul.bbp-topics {border-width: 0 1px 1px 1px !important;} /* fix double border for the forum topic wrapper */
/*#bbpress-forums li.bbp-body ul.topic {padding-left: 13px !important;}*/ /* forum topic list left padding */

/*#bbpress-forums p.bbp-topic-meta {font-size: 0.75rem !important;} *//* topic meta */
div.bbp-topic-meta {padding-left: 16px; font-size: 0.8rem !important;} /* forum topic meta left padding */
/*div.bbp-topic-meta {text-align: left; float: right !important; width:133px;}*/ /* forum topic meta text-align,floating, width */

span.freshness {color: #999999;} /* forum topic freshness color */
span.freshness, span.badge {vertical-align: middle;} /* verticle align of freshness and badge spans */	

fieldset.bbp-form {border: 1px solid #E2E2E2 !important; font-size: 0.9rem !important;} /* border of "Create New Topic" box, form title size  */



